


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1 style="text-align: center;">About Us</h1>
    </header>
    <section class="team-members">
        <div class="team-member">
            <img src="~/TeamMembers/Teamleader.png" alt="Team Leader">
            <h2>Jordan Conor Green </h2>
            <p>Student Number: ST10083222</p>
        </div>
        <div class="team-member">
            <img src="~/TeamMembers/Teamleader.png" alt="Team Member ">
            <h2>Daylin Shadrach</h2>
            <p>Student Number: ST10083296</p>
        </div>
        <div class="team-member">
            <img src="~/TeamMembers/Teamleader.png" alt="Team Member ">
            <h2>Cameron Luke Pillay</h2>
            <p>Student Number: ST10083199</p>
        </div>
        <div class="team-member">
            <img src="~/TeamMembers/Teamleader.png" alt="Team Member ">
            <h2>Mishra  Mohammad</h2>
            <p>Student Number: ST10083182</p>
        </div>
        <div class="team-member">
            <img src="~/TeamMembers/Teamleader.png" alt="Team Member ">
            <h2>Nhlakanipho Philani Khumalo</h2>
            <p>Student Number: ST10083213</p>
        </div>
        <div class="team-member">
            <img src="~/TeamMembers/Teamleader.png" alt="Team Member ">
            <h2>Siyambonga Akhona Mfeka</h2>
            <p>Student Number: ST10083151</p>
        </div>
        <div class="team-member">
            <img src="~/TeamMembers/Teamleader.png" alt="Team Member ">
            <h2>Mpumelelo Candice Mchunu</h2>
            <p>Student Number: ST10153265</p>
        </div>
    </section>
</body>
</html>

