

@model Helpful_Hackers._XBCAD7319._POE.Models.UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <html>

    <body>

        @*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@

        <br>
        <br>

        <div class="logo-box">
            <img src="~/images/DUT-Logo_new.png"
                 style="width: 600px!immportant; height: 230px;">
        </div>

        @*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@

        <br>

        <h1>
            Login As <br>
        </h1>

        <hr>

        @*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@

        <a class="1 btn-group" asp-area="" asp-controller="Auth" asp-action="SignIn">
            <img src="~/images/Student Icon_2x.png" />
            <span id="menuHeading">User</span>
            <span class="tooltiptext">
                The user portal enables you to register and access important information and communication.
            </span>

        </a>

        @*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@

        <a class="2 btn-group" asp-area="" asp-controller="Auth" asp-action="SignInAdmin">
            <img src="~/images/Admin Icon_2x.png" />
            <span id="menuHeading">Admin</span>
            <span class="tooltiptext">
                The admin portal enables you to register and access important information and communication.
            </span>
        </a>

        @*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@

    </body>

    @*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@

</html>
</div>
